# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

#title: "Corey White"
name: "Corey White"
# subtitle: "Profile"
repository: "cdwhite1/cdwhite1.github.io"
email: corey.white@monash.edu
description:
  Associate Professor of Economics 
  at Monash University, Melbourne | Research Affiliate, IZA Institute of Labor Economics
baseurl: "" # the subpath of your site, e.g. /blog
url: "cdwhite1.github.io" # the base hostname & protocol for your site, e.g. http://example.com

# Socials
social:
  type: Person  # Person or Organization (defaults to Person)
  name: # If the user or organization name differs from the site's name
  links:
    - "https://twitter.com/corey_d_white"
twitter_username: corey_d_white
twitter:
  username: "corey_d_white"
github_username: cdwhite1
minimal_mistakes_skin: "default" #"default" "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum" "sunrise"

# Displaying author info
author:
  name: "Corey White"
  avatar: "/assets/images/white_c_f17_full.jpeg"
  bio: "*Senior Economist at Amazon*" # Note: Markdown is allowed
  location: "Seattle, Washington"
  links:
  #  - label: "Website"
   #   icon: "fas fa-fw fa-link"
  #    url: "https://stefaniejfischer.github.io"
    - label: "Email"
      icon: "fas fa-fw fa-envelope"
      url: "mailto:corey.white@monash.edu"
    - label: "Scholar"
      icon: "fab fa-fw fa-google"
      url: "https://scholar.google.com/citations?hl=en&oi=ao&user=enAyWuAAAAAJ"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/cdwhite1"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/corey-white-562a4a2a7/"
      
# Displaying website footer info
footer:
  links:
    - label: "Scholar"
      icon: "fab fa-fw fa-google"
      url: "https://scholar.google.com/citations?hl=en&oi=ao&user=enAyWuAAAAAJ"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/cdwhite1"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/corey-white-562a4a2a7/"
      
# Default layouts
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      classes: wide
      author_profile: true
      show_date: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      classes: wide
      author_profile: true

# Build settings
markdown: kramdown
# theme: minimal-mistakes-jekyll
remote_theme: "mmistakes/minimal-mistakes@4.24.0"

  
include:
 - _pages

atom_feed:
  hide: true

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
